body{
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:90vh;
}
.card{
    color:rgb(255, 255, 255);
    background:rgb(255, 0, 230);
    width:35vw;
    height:40vh;
    border-radius: 20px;
    padding:10px;
}
.card header
{
    display: flex;
    align-items: center;;
}
.card header .title
{
    font-size:40px;
    margin-left:200px;
}
.card .data-conta
{
    display: flex;
}
.card .data-conta .data
{
    margin:0 20px;

}