<link rel="stylesheet" href="/css/adm.css">
<nav>
    <ul>
        <li id="add-cont">
            add conta
        </li>
        <li id="add-saldo">
            saldo
        </li>
    </ul>
</nav>
<main>
   
    
</main>
<script>
    
    function activeInput(){
        $('input').attr('disabled',false);
    }
    function onlynumber(evt) {
   var theEvent = evt || window.event;
   var key = theEvent.keyCode || theEvent.which;
   key = String.fromCharCode( key );
   //var regex = /^[0-9.,]+$/;
   var regex = /^[0-9.]+$/;
   if( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) 
      theEvent.preventDefault();
   }
}
contas = []
let id = 0
{{#each contas}}
contas.push(
    {
        "id":id,
        "dono":"{{dono}}",
        "senha":"{{senha}}",
        "agencia":"{{agencia}}",
        "conta":"{{conta}}",
    });
    id++;
{{/each}}
function defineCont(){
        let agencia = '';
        let conta = '';
        let repiti = 0;
        do{
            repiti = 0
            agencia = '';
            for(i = 0;i<5;i++){
                agencia+=Math.floor(Math.random()*10);
            }
            for(c of contas){
                if(c.agencia == agencia)
                repiti = 1;
            }
        }while(repiti)
        do{
            repiti = 0
            conta = '';
            for(i = 0;i<6;i++){
                conta+=Math.floor(Math.random()*10);
            }
             for(c of contas){
                if(c.conta == conta)
                repiti = 1;
            }
        }while(repiti)
    $('input[name="agencia"').val(agencia)
    $('input[name="conta"').val(conta)

    }
$("nav li").click((id)=>{
    action = '';
    action = id.target.id;
    switch(action){
        case "add-cont":
            screenAdd();
            defineCont();
        break;
        case "add-saldo":
            addAldo();
        break;
    }
})
function screenAdd(){
    $('main').html(`

     <div class="dados">
        <form onsubmit="activeInput()" action="/addcont" method="post">
        <h2>dono</h2>
        <input type="text" name="nome" placeholder="nome" autocomplete="off" >
        <h2>senha</h2>
        <input onkeypress="return onlynumber();" type="text" name="senha" placeholder="senha" autocomplete="off" >
         <h2>agencia</h2>
        <input disabled="true" type="text" name="agencia" placeholder="agencia" autocomplete="off" >
        <h2>conta</h2>
        <input disabled="true" type="text" name="conta" placeholder="senha" autocomplete="off" >
        <button type="submit">cadastra</button>
        </form>
    </div>
    
    
    `)
}
function addAldo(){
    $('main').html(`

     <div class="dados">
        <form onsubmit="activeInput()" action="/addsaldo" method="post">
        <h2>dono</h2>
        <input type="text" name="conta" placeholder="conta" autocomplete="off" >
        <h2>conta</h2>
        <input  type="number" name="saldo" placeholder="saldo" autocomplete="off" >
        <button type="submit">adicionar </button>
        </form>
    </div>
    
    
    `)
}
</script>