<link rel="stylesheet" href="css/login.css">
<div class="background">
    <div class="circle" style="--tamanho:400px;--top:50%;"></div>
    <div class="circle" style="--tamanho:300px;--top:67%;animation-delay:0.5s;--left:15%;"></div>
</div>
<div class="main">
    <form onsubmit="verificacao()" action="/" method="get"  >
    <h1>entra na sua conta </h1>
    <input onkeypress="return onlynumber();" id="conta" name="conta" placeholder="conta" type="text">
    <input onkeypress="return onlynumber();" id="agencia" name="agencia" placeholder="agencia" type="text">
    <input onkeypress="return onlynumber();" id="senha" name="senha" placeholder="senha" type="text">
    <button type="submit" >entrar</button>
    </form>
  
    
    </div>

<script>
contas = []
let id = 0
{{#each contas}}
contas.push(
    {
        "id":id,
        "senha":"{{senha}}",
        "agencia":"{{agencia}}",
        "conta":"{{conta}}",
    });
    id++;
{{/each}}

contas.push("o")
</script>
<script>
    function onlynumber(evt) {
   var theEvent = evt || window.event;
   var key = theEvent.keyCode || theEvent.which;
   key = String.fromCharCode( key );
   //var regex = /^[0-9.,]+$/;
   var regex = /^[0-9.]+$/;
   if( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
   }
}
    

    $('form').submit(()=>{
        for(conta of contas){
           // console.log(conta.conta , $('#conta').val())
         if(conta.conta == $('#conta').val()&&
         conta.agencia == $('#agencia').val()&&
         conta.senha == $('#senha').val()){
                  $('form').attr('action','/conta?jubtuisdpoiofr='+conta.id) 
                  $('form').attr('method','post') 

              }
        }
    })
</script>