<link rel="stylesheet" href="css/login.css">
<div class="background">
    <div class="circle" style="--tamanho:400px;--top:50%;"></div>
    <div class="circle" style="--tamanho:300px;--top:67%;animation-delay:0.5s;--left:15%;"></div>
</div>
<div class="main">
    <h1>entra na sua conta </h1>
    <input id="conta" name="conta" placeholder="conta" type="text">
    <input id="agencia" name="agencia" placeholder="agencia" type="text">
    <input id="senha" name="senha" placeholder="senha" type="text">
    <button>entrar</button>
</div>