<link rel="stylesheet" href="/css/transferencia.css">

<div class="background">
    <div class="circle" style="--tamanho:400px;--top:50%;"></div>
    <div class="circle" style="--tamanho:300px;--top:67%;animation-delay:0.5s;--left:15%;"></div>
</div>
<main>
<form action="/conta?jubtuisdpoiofr={{id}}" method="post">
    <button type="submit">voltar</button>
</form>
</main>